<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Select Exam ID</ng-template>
      <div class="select-exam">
        <mat-form-field appearance="fill">
          <mat-label style="color: rgb(172, 233, 112)">Exam ID</mat-label>
          <mat-select (change)="selectExamId()" formControlName="examId" required>
            <!-- formControlName="examId" -->
            <mat-option *ngFor="let id of examIds" [value]="id">{{
              id
            }}</mat-option>
          </mat-select> 
        </mat-form-field>
        <button mat-raised-button (click)="selectExamId()">Next</button>
      </div>
    </form>
  </mat-step>

  <!-- 1ST STEP END 2ND START FROM HERE -->

  <mat-step [stepControl]="setExam" label="Update & Delete Exam Details">
    <form [formGroup]="setExam">
      <div class="exam-container">
        <h2>Update Exam Details</h2>
        <div class="onefield">
          <div class="exam-label-field">
            <label>Exam Name</label>
          </div>
          <div class="exam-input-fild">
            <input type="text" placeholder="Enter Exam Name" formControlName="subjectName" />
          </div>
        </div>
        <div class="onefield">
          <div class="exam-label-field">
            <label>Total Questions</label>
          </div>
          <div class="exam-input-fild">
            <input type="number" placeholder="Total No. of Questions" formControlName="totalQuestions" />
          </div>
        </div>
        <div class="onefield">
          <div class="exam-label-field">
            <label>Total Duration</label>
          </div>
          <div class="exam-input-fild">
            <input type="number" placeholder="Exam Duration(in minutes)" formControlName="totalTime" />
          </div>
        </div>
  
        <div class="handsOn">
          <label class="handson-label">Hands On Exam</label>
          <div class="radioOption">
            <label for="yes">Yes</label>
            <input type="radio" value="true" name="handsOn" formControlName="handsOn" />
          </div>
  
          <div class="radioOption">
            <label for="no">No</label>
            <input type="radio" value="false" name="handsOn" formControlName="handsOn" />
          </div>
        </div>
        <div class="second-stepper-btn">
          <button mat-raised-button class="delete" (click)="deleteExam()">Delete</button>
          <button mat-raised-button (click)="setQuestionObject()">Update</button>
        </div>
      </div>
    </form>
  </mat-step>
  

  <!-- 2ND STEPPER END AND 3RD STEPPER START S HERE -->
  <mat-step [stepControl]="setquestion" label="Set Your Questions">
    <form class="setquestion" [formGroup]="setquestion">
      <div class="questionContainer">
        <div class="question">
          <label>Total Question :</label
          ><span id="totalQuestions">{{ totalQuestions }}</span>
          <label>Current Question No. :</label
          ><span id="totalQuestions">{{ currentQuestionIndex + 1 }}</span>
          <textarea
            class="input-question"
            id="question"
            name="question"
            rows="2"
            cols="104"
            formControlName="question"
            required
            foucus
          ></textarea>
        </div>

        <!-- This div for option -->
        <div class="option">
          <div class="option-btn">
            <label for="optionA">A</label>
            <input
              type="text"
              name="option"
              id="optionA"
              formControlName="optionA"
              required
            />
          </div>

          <div class="option-btn">
            <label for="optionB">B</label>
            <input
              type="text"
              name="option"
              id="optionB"
              formControlName="optionB"
              required
            />
          </div>

          <div class="option-btn">
            <label for="optionC">C</label>
            <input
              type="text"
              name="option"
              id="optionC"
              formControlName="optionC"
              required
            />
          </div>

          <div class="option-btn">
            <label for="optionD">D</label>
            <input
              type="text"
              name="option"
              id="optionD"
              formControlName="optionD"
              required
            />
          </div>

          <div class="answer">
            <label for="Answer">Answer</label>
            <select
              name="option"
              id="answerOption"
              formControlName="answer"
              required
            >
              <option value="">Select Answer</option>
              <option value="{{ this.setquestion.value.optionA }}">
                {{ this.setquestion.value.optionA }}
              </option>
              <option value="{{ this.setquestion.value.optionB }}">
                {{ this.setquestion.value.optionB }}
              </option>
              <option value="{{ this.setquestion.value.optionC }}">
                {{ this.setquestion.value.optionC }}
              </option>
              <option value="{{ this.setquestion.value.optionD }}">
                {{ this.setquestion.value.optionD }}
              </option>
            </select>
          </div>
        </div>
        <!-- End div for option --> 

        <div class="btn">
          <button mat-raised-button (click)="showPreviousQuestion()">
            Previous
          </button>
          <button mat-raised-button (click)="nextQuestion()">Next</button>
          <button *ngIf="totalQuestions==currentQuestionIndex+1" mat-raised-button (click)="updateQuestion()">Update</button>
        </div>
      </div>
    </form>
  </mat-step>
</mat-stepper>
