<mat-card>
    <div class="card">
      <div class="message">
          <h3>This div for manage student</h3>
          <button mat-button (click)="mangeStudent()">Total Students</button>
      </div>
    </div>
    <div class="card">
      <div class="message">
          <h3>This div for manage Teacher</h3>
          <button mat-button (click)="manageTeacher()">total Teacher</button>
      </div>
    </div>
    <div class="card">
      <div class="message"> <h3>This div for manage exam</h3>
          <button mat-button (click)="manageExam()">Eaxms Conducted</button>
      </div>
    </div>
    <div class="card">
      <div class="message"> 
          <h3>This div for manage result</h3>
          <button mat-button (click)="manageResult()">Result</button>
          </div>
    </div>
  </mat-card>
  