
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 380px;
  max-width: 350px;
  padding: 40px 20px 0;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  margin-top: 60px;
  border: 1px solid #333;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#stepper, .stepper{
  background-color: rgb(33, 33, 33);
  height: 100%;
  width: 100%;

}
.main-container {
  height: 90vh;
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}
.step{
  display: flex;
  align-items: center;
  justify-content: center;
}
.exam-details{
  width: 500px;
  height: 400px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 6px;
  justify-content: center;
  flex-direction: column;
  background-color: lightgreen;
}
.input{
  border-radius: 6px;
  outline: none;
  border: none;
  padding: 6px 10px;
}
.handsOn {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.radioOption {
  margin-left: 10px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: rgb(151, 59, 59);
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message,
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  /* display: block; */
  position: relative;
  /* margin: 8px; */
}
.input-label{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.question-container .option{
  width: 400px;
  background-color: #adc6a6;
  display: flex;
  justify-content: space-between;
}

.form label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.9em;
  font-weight: 500;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  background-color: #474e50;
}

.submit:hover {
  background-color: #5bb641;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}




/* *********************************************************************************************************** */

.container{
  display: flex;
  flex-direction: column;
}

/* .question-container {
  margin-bottom: 20px;
}

.question, .options, .answer {
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
}

.option {
  margin-top: 5px;
}

.option label {
  margin-right: 5px;
} */

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0,123,255,0.5);
}

.option1{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
