<div class="main-container">
  <mat-stepper #stepper class="stepper">
    <mat-step  [stepControl]="examDetailsForm" errorMessage="Name is required.">
      <div class="step">
        <form [formGroup]="examDetailsForm" (ngSubmit) ="stepper.next()" class="exam-details">
          <p class="title">Fill Exam Details</p>
          <!-- <p class="message">Signup now and get full access to our app.</p> -->
            <label class="input-label">
              <span>Exam Name</span>
              <input
                class="input field"
                type="text"
                placeholder="Exam Name"
                required
                formControlName="examName"
              />
            </label>
  
            <label class="input-label">
              <span>Number of Questions</span>
              <input
                class="input"
                type="number"
                placeholder="Number of Questions"
                required
                formControlName="totalQuestions"
              />
            </label>
  
          <label class="input-label">
            <span>Duration | in minutes</span>
            <input
              class="input"
              type="number"
              placeholder="Durations"
              required
              formControlName="examDuration"
            />
          </label>
  
          <label class="input-label">
            <span>Time Alloted per Question</span>
            <input
              class="input"
              type="text"
              placeholder="Time Alloted"
              required
              formControlName="timeAllotedPerQuestion"
            />
          </label>
  
          <!-- Hands On Options -->
  
          <div class="handsOn">
            <span>Hands On Exam</span>
            <div class="radioOption">
              <label for="yes">Yes</label>
              <input
                type="radio"
                value="true"
                name="handsOn"
                formControlName="handsOn"
              />
            </div>
  
            <div class="radioOption">
              <label for="no">No</label>
              <input
                type="radio"
                value="false"
                name="handsOn"
                checked
                formControlName="handsOn"
              />
            </div>
          </div>
  
          <!-- Hands On Options End Here -->
  
          <button class="submit" (click)="generateFields()">Next >>></button>
        </form>

      </div>
    </mat-step>
    <!-- ******************************* Exam Details Complete Here *************************************** -->
    <mat-step
      [stepControl]="questionDetailsForm"
      errorMessage="Questions are required."
    >
      <!-- <p>set-question-paper works!</p> -->
      <div class="step">
        <form id="quiz-form" [formGroup]="questionDetailsForm" class="exam-details">
          <div id="questions"></div>
          <div class="controls">
            <button
              type="button"
              class="next-btn disable"
              (click)="nextQuestion()"
            >
              Next Question
            </button>
  
            <button
              type="button"
              class="prev-btn disable"
              (click)="previousQuestion()"
            >
              Previous
            </button>
  
            <button
              type="button"
              class="submit disable"
              (click)="submitQuestions()"
            >
              Submit Questions
            </button>
          </div>
          <button mat-raised-button (click)="stepper.previous()">Previous</button>
          <button mat-raised-button (click)="stepper.next()">Next</button>
        </form>
      </div>

    </mat-step>

    <!-- <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step> -->
  </mat-stepper>
</div>
