<div class="container">
    <form class="form">
        <p id="heading">Register</p>
        <div class="form__group field">
            <input type="input" class="form__field" placeholder="Name" required="">
            <label for="name" class="form__label">First Name</label>
        </div>
        <div class="form__group field">
            <input type="input" class="form__field" placeholder="Name" required="">
            <label for="name" class="form__label">Last Name</label>
        </div>
        <div class="form__group field">
            <input type="input" class="form__field" placeholder="Name" required="">
            <label for="name" class="form__label">Email</label>
        </div>
        <div class="form__group field">
            <input type="input" class="form__field" placeholder="Name" required="">
            <label for="name" class="form__label">Contact Number</label>
        </div>
        <div class="form__group field">
            <input type="input" class="form__field" placeholder="Name" required="">
            <label for="name" class="form__label">College Name</label>
        </div>
        <div class="form__group field">
            <input type="input" class="form__field" placeholder="Name" required="">
            <label for="name" class="form__label">Enrollment Number</label>
        </div>
        <div class="form__group field">
            <input type="password" class="form__field" placeholder="Name" required="">
            <label for="name" class="form__label">Password</label>
        </div>
        <div class="form__group field">
            <input type="password" class="form__field" placeholder="Name" required="">
            <label for="name" class="form__label">Confirm Password</label>
        </div>


        <button>Register</button>
    </form>
</div>